mixin signupLoginForm(title)
    main.main
        - const newTitle = title.split(' ');
        - const formType = newTitle.includes('Sign') ? 'sign-up' : 'login';
        div(class=`${newTitle[0].toLowerCase()}-form ${formType}-form`)
            h2.heading-secondary.ma-bt-lg= title
            form(class=`form form--${formType}`)
                - if (newTitle.includes('Sign'))
                    .form__group
                        label.form__label(for='name') Name
                        input#name.form__input(type='text' placeholder='Your name', required)
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email' placeholder='you@example.com', required)
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password' placeholder='••••••••', required, minlength='8')
                - if (newTitle.includes('Sign'))
                    .form__group.ma-bt-md
                        label.form__label(for='password') Password Confirm
                        input#passwordConfirm.form__input(type='password' placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green= `${formType}`